*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: sans-serif;
    background-image: url('./assestes/images/bg-header-desktop.png');
    background-repeat: no-repeat;

}

.nav{
position: absolute;
top: 18%;
left: 48%;
    
}

.main{

position: absolute;
top: 40%;
left: 30%;
}

.lg{
    width: 16rem;
    height: 4rem;
    border-radius: 2rem;
    position: absolute;
    left: 15%;
    background-color: darkgreen;
    color: white;

}

h1{
    font-size: 3rem;
}
h6{
    font-size: 1.3rem;
    padding-left: 0.5rem;
    text-align: center;
}

.sh{

    width: 16rem;
    height: 4rem;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    background-color: blue;
    color: white;
}

.header{

    position: absolute;
    top: 100%;
    left: 25%;
}

h2{
    padding-left: 10rem;
    font-size: 2.5rem;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-left: 5rem;
}

.content{
    display: flex;
    gap: 6rem;
    position: absolute;
    top: 140%;
}

div{
    font-weight: 600;
    color:darkgray;

}

h3{
    padding-top: 3rem;
    font-size: 1.5rem;
}